<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Books</h1>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

<form th:action="@{/logout}" method="post"><input type="submit" value="Sign Out"/></form>
<table>
    <tr>
        <th>Author</th>
        <th>Title</th>
        <th>ISBN</th>
        <th>Year</th>
        <th>Category</th>
    </tr>

    <tr th:each="book:${books}">
        <td th:text="${book.author}">id</td>
        <td th:text="${book.title}">model</td>
        <td th:text="${book.isbn}">model</td>
        <td th:text="${book.year}">year</td>
        <td th:text="${book.category.name}">category</td>
        <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deletebook/{id}(id=${book.id})}">Delete</a></td>
        <td><a th:method="get" th:href="@{/editbook/{id}(id=${book.id})}">Edit</a></td>

    </tr>


    <a href="/newbook" method="GET">New Book</a>

</table>
</body>
</html>