<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Books</h1>
<table>
    <tr>
        <th>Author</th>
        <th>Title</th>
        <th>ISBN</th>
        <th>Year</th>
    </tr>

    <tr th:each="book : ${books}">
        <td th:text="${book.author}">id</td>
        <td th:text="${book.title}">model</td>
        <td th:text="${book.isbn}">model</td>
        <td th:text="${book.year}">year</td>
    </tr>
</table>
</body>
</html>